body{background-color: rgb(30, 30, 30);margin:0;color:white}

div{display: flex;}
footer{display: flex;justify-content: center;text-align: center;padding:40px;flex-direction: column;align-items: center;border-top: 1px solid rgb(85, 49, 20);}
footer h1{font-size:24px;color:rgb(51, 51, 51)}
footer h2{font-size:16px;color:rgb(51, 51, 51)}

h1{margin:14px 12px 0px 12px; font-size:42px; text-shadow: 3px 3px 3px black; font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;}
h2{margin:0px 12px 14px 12px; font-size:32px; text-shadow: 1px 1px 3px black;}

#pages {align-items:center; font-size:24px; margin:20px;}
#pages button{
    padding: 10px;
    margin:12px;
    border:1px solid rgb(193, 111, 44);
    width: 50px;
    border-radius: 15px;}
#pages a{
    background-color: transparent;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    padding: 15px;
    text-shadow: 0px 0px 6px rgb(193, 111, 44);}

#header a, #header img, #header h1, #header h2{cursor: pointer;}
#header{
    padding:15px 20px;
    justify-content: space-between;}
#header img {
    box-shadow: 3px 3px 3px black;
    border-radius: 15px;
    padding:7px;}

#welcomer{
    height: 40vh;
    width:50vw;
    position: absolute;
    align-self: center;
    border:2px solid rgb(193, 111, 44);
    background-color: rgb(21, 21, 21, 0.4);
    text-align: center;
    flex-direction: column;}
#welcomer h2{font-size: 24px;padding:20px}
#welcomer h1{padding: 15px;border-bottom: 1px solid rgb(193, 111, 44);}
#welcomebuttons{justify-content: space-around;}
#welcomebuttons button{
    height: 75px;
    width:300px;
    color:white;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
    border: 3px solid rgb(193, 111, 44);
    cursor: pointer;
    box-shadow:3px 3px 6px black;}

.blackbg{background-color: rgb(21, 21, 21)}
.greybg{background-color: rgb(40, 40, 40);}
.orangetxt{color:rgb(193, 111, 44);}
.boxfade{box-shadow:0px 0px 12px black;}
.justifycenter{justify-content: center;}

.herocard img{background-color: rgb(193, 111, 44);background-image:url("images/icon_bg.png");padding: 5px;border-radius: 15px;height: 200px;box-shadow: 3px 3px 6px black;}
.herocard{
    display:flex; 
    flex-direction:column; 
    align-items: center;
    height: 500px;
    width: 350px;
    border:1px solid rgb(193, 111, 44);
    margin: 5px;
    padding:15px 5px;
    background-image: url("images/herocard_bg.jpg");
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;}
.herocard h1{font-size: 32px;}
.herocard h2{font-size:24px;}
.herocard button{
    height: 50px;
    width:250px;
    color:white;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
    border: 3px solid rgb(193, 111, 44);
    cursor: pointer;
    box-shadow:3px 3px 6px black;}

#mainpage{}
#herocards{height: 650px;justify-content: space-around;align-items: center;position: absolute;}
#backgroundimage{width:100vw;mix-blend-mode: overlay;cursor:default;}
#header img:hover{box-shadow: 0px 0px 6px rgb(193, 111, 44);}
#pages button:hover{background-color: rgb(55, 55, 55);box-shadow: 0px 0px 6px rgb(193, 111, 44);}
#pages a:hover{text-shadow: 0px 0px 6px rgb(22, 147, 161);color:rgb(22, 147, 161);}
#welcomebuttons button:hover{box-shadow: 0px 0px 6px rgb(193, 111, 44);background-color:rgb(193, 111, 44)}

#header h1:hover,#header h2:hover,#welcomer h2:hover, #welcomer h1:hover{text-shadow: 0px 0px 6px rgb(193, 111, 44);}