body{background-color: rgb(30, 30, 30);margin:0;color:white}

div{display: flex;}
footer{display: flex;justify-content: center;text-align: center;padding:40px;flex-direction: column;align-items: center;border-top: 1px solid rgb(85, 49, 20);}
footer h1{font-size:24px;color:rgb(51, 51, 51)}
footer h2{font-size:16px;color:rgb(51, 51, 51)}

h1{margin:14px 12px 0px 12px; font-size:42px; text-shadow: 3px 3px 3px black; font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;}
h2{margin:0px 12px 14px 12px; font-size:32px; text-shadow: 1px 1px 3px black;}

#pages {align-items:center; font-size:24px; margin:20px;}
#pages button{
    padding: 10px;
    margin:12px;
    border:1px solid rgb(193, 111, 44);
    width: 50px;
    border-radius: 15px;}
#pages a, .herocard button a {
    background-color: transparent;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    padding: 15px;
    text-shadow: 0px 0px 6px rgb(193, 111, 44);}

#header a, #header img, #header h1, #header h2, .herocard button a{cursor: pointer;text-decoration: none;}
#header{
    padding:15px 20px;
    justify-content: space-between;}
#header img {
    box-shadow: 3px 3px 3px black;
    border-radius: 15px;
    padding:7px;}
#charactercard{
    height: 70vh;
    width:80vw;
    position: absolute;
    align-self: center;
    border:2px solid rgb(193, 111, 44);}
#charactercard img{height: 25vh;background-color: rgb(193, 111, 44);background-image:url("images/icon_bg.png");padding: 5px;border-radius: 15px;box-shadow: 3px 3px 6px black;margin:15px;position: relative;}
#maininfo p{font-size: 24px;padding: 0px 17px;}
#maininfo{width: 25vw;position: relative;}
#desc{width:60vw;position:relative;right: 85px;padding: 15px;}
#desc h2{font-size: 32px;}
#projectinfo {
    height: 85vh;
    width:85vw;
    position: absolute;
    align-self: center;
    border:2px solid rgb(193, 111, 44);
    background-color: rgb(21, 21, 21, 0.4);
    text-align: center;
    flex-direction: column;}
#scoreboard{
    height: 50vh;
    width:65vw;
    position: absolute;
    align-self: center;
    border:2px solid rgb(193, 111, 44);
    border-radius: 40px;
    background-color: rgb(21, 21, 21, 0.4);
    text-align: center;
    flex-direction: column;}
#scoreboard th{font-size: 32px;}
#welcomer{
    height: 40vh;
    width:50vw;
    position: absolute;
    align-self: center;
    border:2px solid rgb(193, 111, 44);
    background-color: rgb(21, 21, 21, 0.4);
    text-align: center;
    flex-direction: column;}
#projectinfo h2{font-size: 20px;padding:15px}
form{display: flex; flex-direction: column;align-items: center;padding:15px}
label{font-size: 24px;margin: 10px;}
#genders{width:40vw;height: 4vh;align-items: center;justify-content: space-around;padding: 0px;}
#genders div{font-size: 24px;}
input{border-radius: 10px;border: 1px solid rgb(193, 111, 44);}
#name{width: 25vw;height: 5vh;color:rgb(193, 111, 44);font-family:ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;margin: 15px;}
#grade{font-size: 24px;color:rgb(193, 111, 44);width:3vw;display: flex;justify-content: center;align-items: center;}
#grades{border-bottom: 1px solid rgb(193, 111, 44); padding: 15px;}
#profile{
    height: 70vh;
    width:50vw;
    position: absolute;
    align-self: center;
    border:2px solid rgb(193, 111, 44);
    text-align: center;
    flex-direction: column;}
#clan{margin:10px}
#submit{width: 10vw;margin: 15px;height:5vh;border-radius: 0px;color:white}
#leftarrow, #rightarrow{width: 3vw;border-radius: 15px;border: 1px solid rgb(193, 111, 44);}
#leftarrow img, #rightarrow img{width: 2vw;}
#welcomer h2{font-size: 24px;padding:20px}
#welcomer h1, #projectinfo h1, #profile h1{padding: 15px;border-bottom: 1px solid rgb(193, 111, 44);}
#welcomebuttons{justify-content: space-around;}
#welcomebuttons button{
    height: 8vh;
    width:22vw;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
    border: 3px solid rgb(193, 111, 44);
    cursor: pointer;
    box-shadow:3px 3px 6px black;}
#welcomer button a{color:white;text-decoration: none;}
.blackbg{background-color: rgb(21, 21, 21)}
.greybg{background-color: rgb(40, 40, 40);}
.orangetxt{color:rgb(193, 111, 44);}
.boxfade{box-shadow:0px 0px 12px black;}
.justifycenter{justify-content: center;}

.herocard img{background-color: rgb(193, 111, 44);background-image:url("images/icon_bg.png");padding: 5px;border-radius: 15px;height: 25vh; box-shadow: 3px 3px 6px black;}
.herocard{
    display:flex; 
    flex-direction:column; 
    align-items: center;
    height: 60vh;
    width: 23vw;
    border:1px solid rgb(193, 111, 44);
    margin: 5px;
    padding:15px 5px;
    background-image: url("images/herocard_bg.jpg");
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;}
.herocard h1{font-size: 32px;}
.herocard h2{font-size:24px;}
.herocard button{
    height: 7%;
    width:15%;
    color:white;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
    border: 3px solid rgb(193, 111, 44);
    cursor: pointer;
    box-shadow:3px 3px 6px black;
    position: absolute;
    bottom: 100px;}
#story{
    position: absolute;
    text-align:center;
    flex-direction: column;
    height: 40vh;}
#storyimages{
    position: absolute;
    height: 25vh;
    width: 70vw;
    bottom: -975px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(193, 111, 44, 0.1);
    box-shadow: 0px 0px 15px rgb(193, 111, 44, 0.1);
    border-radius: 20px;}
#storyimages img{height: 25vh;margin:0px 50px;height:135px;}
#story h1{font-size: 56px; margin:25px}
#story p{font-size: 35px; width: 85vw;margin:15px; text-align: justify;}
#herocards{height: 80vh;justify-content: space-around;align-items: center;position: absolute;}
#backgroundimage{width:100vw;mix-blend-mode: overlay;cursor:default;border-bottom: 1px solid rgb(85, 49, 20);}
#header img:hover{box-shadow: 0px 0px 6px rgb(193, 111, 44);}
#pages button:hover{background-color: rgb(55, 55, 55);box-shadow: 0px 0px 6px rgb(193, 111, 44);}
#pages a:hover{text-shadow: 0px 0px 6px rgb(22, 147, 161);color:rgb(22, 147, 161);}
#welcomebuttons button:hover, .herocard button:hover, #submit:hover{box-shadow: 0px 0px 6px rgb(193, 111, 44);background-color:rgb(193, 111, 44)}
.herocard button a:visited, #welcomer button a{color:white;}

#header h1:hover,#header h2:hover,#welcomer h2:hover, #welcomer h1:hover{text-shadow: 0px 0px 6px rgb(193, 111, 44);}